*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{


min-height:100vh;


overflow:hidden;


background:

radial-gradient(
circle at top,
#40245f,
#12091f
);


font-family:

"Microsoft YaHei",
sans-serif;


color:white;


}




#birthdayStars{


position:fixed;

left:0;

top:0;

width:100%;

height:100%;


z-index:-1;


}







.birthday-container{


height:100vh;


display:flex;


flex-direction:column;


justify-content:center;


align-items:center;


text-align:center;


padding:20px;


}






.love-date{


font-size:18px;


letter-spacing:8px;


color:#ffd2e8;


}




.title{


margin-top:15px;


font-size:48px;


font-family:
"Times New Roman";


letter-spacing:3px;


background:

linear-gradient(
90deg,
#fff,
#ff9fc8
);


-webkit-background-clip:text;


color:transparent;


}





.sub-title{


margin-top:10px;


font-size:18px;


color:#ffddea;


}





.name{


margin-top:15px;


font-size:38px;


text-shadow:

0 0 25px #ff79b7;


}








/* =====蛋糕===== */


.cake-area{


margin:20px;


position:relative;


}



.mille-cake{


width:300px;


filter:

drop-shadow(
0 20px 25px
rgba(255,120,160,.5)
);


animation:

cakeFloat 4s infinite ease-in-out;


}





.cake-shadow{

fill:

rgba(0,0,0,.25);

}





.cake-bottom{

fill:#e9b07c;

}





.cream-layer{

fill:#fff4ed;

}





.cream-layer.pink{

fill:#ffd3df;

}




.cake-top{

fill:#fff8fa;

}





.strawberry{

fill:#ff5477;

}



.leaf{

fill:#55aa55;

}



.candle{

fill:#ffd76a;

}




.fire{


fill:#ff9b3d;


animation:

fire 0.8s infinite alternate;


}






.cake-glow{


position:absolute;


width:260px;

height:100px;


bottom:0;


background:

rgba(255,130,180,.4);



filter:

blur(40px);



z-index:-1;


}





@keyframes cakeFloat{


0%,100%{

transform:translateY(0);

}


50%{

transform:translateY(-15px);

}


}



@keyframes fire{


from{

transform:scale(1);

}


to{

transform:scale(1.2);

}


}








/* =====祝福卡片===== */


.love-card{


width:330px;


max-width:90%;


padding:25px;


border-radius:25px;


background:

rgba(255,255,255,.12);


backdrop-filter:

blur(12px);


border:

1px solid
rgba(255,255,255,.3);



box-shadow:

0 0 30px
rgba(255,120,170,.3);



line-height:2;


font-size:16px;



}








button{


margin-top:18px;


padding:

14px 35px;



border:none;


border-radius:40px;


background:

linear-gradient(
135deg,
#ff7eb3,
#ff758c
);



color:white;


font-size:16px;



box-shadow:

0 0 25px
rgba(255,100,160,.6);



transition:.3s;


}





button:hover{


transform:

scale(1.08);


}







@keyframes showWish{


from{

opacity:0;

transform:
translateY(30px);


}


to{

opacity:1;


transform:
translateY(0);


}


}




/* 手机适配 */


@media(max-width:500px){



.title{


font-size:38px;


}



.name{


font-size:30px;


}



.mille-cake{


width:260px;


}


.love-card{


font-size:14px;


}



}
